.UsersPhoto{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.selectedPage{
    font-weight: 800;
    color: yellow;
<<<<<<< HEAD
}

span{
    cursor: pointer;
=======
>>>>>>> a9e404b65585935683e7e99a2a6024122b198756
}