
.backImg img{
  height: 200px;
  width: 100%;
}
.profImg img{
  width: 120px;
  border-radius: 30px;
 
}
.profImg{

  color:white;
  font-family: consolas;
  font-weight: 600;
  padding: 10px;
}
.profileText{
  display: block;
  padding: 10px;
}

.ulbout li{
  list-style-type:none;
  line-height: 20px;
}